---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection, type CollectionEntry } from 'astro:content'

export async function getStaticPaths() {
  const guides = await getCollection('guide')
  return guides.map((g) => ({
    params: { path: g.slug },
    props: { guide: g },
  }))
}

interface Props { guide: CollectionEntry<'guide'> }
const { guide } = Astro.props
const { Content } = await guide.render()
const { title, description } = guide.data
---

<DefaultLayout
  title={`${title} — Guide — Fontist`}
  description={description}
  canonical={`https://www.fontist.org/guide/${guide.slug}`}
>
  <article class="page-container md-doc">
    <h1>{title}</h1>
    <Content />
  </article>
</DefaultLayout>
