---
layout: docs-base
html-class: docs-page
docs_title: Fontist
navigation:
  base_url: /docs
  items:
  - title: What is Fontist?
    path: /
  - title: Usage
    path: /usage/
    items:
    - title: How to install a font?
      path: /usage/install/
    - title: How to use Fontist in CI?
      path: /usage/ci/
    - title: How to create a new formula?
      path: /usage/formula/
    - title: How to use Fontconfig with Fontist?
      path: /usage/fontconfig/
    - title: Which archives are supported by Fontist?
      path: /usage/archives/
    - title: How to find installed fonts?
      path: /usage/status/
    - title: How to install a bundle of fonts at once?
      path: /usage/manifest/
    - title: How to change Fontist directory?
      path: /usage/directory/
    - title: How to use proxy servers with Fontist?
      path: /usage/proxy/
    - title: How to use Fontist Ruby library?
      path: /usage/ruby/
---

{{ content }}
